body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    background: black;
    color: white;
}

header ul {
    width: 47%;
    display: inline-block;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header h1 {
    margin: 0;
    width: 38%;
    display: inline-block;
    font-size: 20px
}

section {
    text-align: center;
}

