body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    background: black;
    color: white;
}

header ul {
    width: 50%;
    display: inline-block;
    text-align: right;
}

header ul li {
    display: inline-block;
}

header h1 {
    margin: 0;
    width: 35%;
    display: inline-block;
}
